// Override default variables before the import

.cursor-pointer {
  cursor: pointer;
}

.mh-300px {
  max-height: 300px;
}

.img-user {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.square {
  position: relative;
  width: 100%;
}

.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
