.box-shadow {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.rounded-pill {
  border-radius: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}
